
body{
    background-size: cover;
    background-position-y: 110vh;
}

/*  the hole game table */
#game_tabel{
    position: absolute;
    width: 100%;
    height: 100%;
    /* default white background in case user not selected any background*/
    background : rgb(146, 79, 79);
    display: none;
}


/* hole player profile in  */
.player_profile {
    position: absolute;
    width: 15%;
    background :rgba(0, 0, 0, 0.7);
    color : white;
    font-family: monospace;
    font-size: 3vh;
    top: 50%;
    transform: translate(0%,-50%);
    box-shadow: 0vh 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.4);
}

/* player 1 & player 2 Ui position */
#player_1Ui{
    left : 0px;
    border-radius: 0vh 2vh 2vh 0vh;

}
#player_2Ui{
    right : 0px;
    border-radius: 2vh 0vh 0vh 2vh;
}

.player_profile .player_pic_profile{
    position: relative;
    width: 40%;
    display: inline-block;
    left: 50%;
    top: 1vh;
    border-radius: 100px;
    transform: translate(-50%);
}

.player_name{
    position: relative;
    text-align: center;
    cursor: default;
}

.turn{
    position: relative;
    width : 6vh;
    left: 50%;
    transform: translate(-50%);
}

#matchs_result{
    position: absolute;
    /* border : 1px solid red; */
    left: 50%;
    transform: translate(-50%,0%);
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0vh 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#matchs_result p {
    position: relative;
    display: block;
    color : white;
    font-size: 3vh;
    font-family: monospace;
    text-align: center;
    cursor: default;
    padding: 1vh;
}

#matchs_result .match_rslt{
    color :rgb(67, 255, 230);
}


#GAME_TABLE{
    position: absolute;
    border: 1vh dashed rgb(0, 0, 0);
    width: 70vh;
    height: 70vh;
    display: grid;
    padding : 4px;
    /* grid-template-columns: 1fr * 3; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#GAME_TABLE .BLOCK_STYLE{
    position: relative;
    border: 0.2vh solid black;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.2s;
    color : white;
    font-size: 1.5rem;
    background-size: cover;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
}
#GAME_TABLE .BLOCK_STYLE:active{
    transform: scale(0.9);
}
#GAME_TABLE .BLOCK_STYLE:nth-child(even){
    background-color: rgb(73, 71, 94);
}
#GAME_TABLE .BLOCK_STYLE:nth-child(odd){
    background-color: rgb(75, 92, 128);
}

#reset_game{
    position: fixed;
    left: 0px;
    top: 50%;
    padding: 4vh;
    background-color: rgba(32, 21, 44, 0.87);
    font-family: monospace;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.664);
    border-radius: 0px 12px 12px 0px;
    display: none;
}

#reset_game p{
    font-size: 3vh;
    color: rgb(255, 219, 14);
}

#reset_game button{
    border-style: none;
    background-color: rgb(255, 230, 0);
    color: rgb(26, 25, 25);
    padding : 1vh;
    transition: 0.4s;
    cursor: pointer;
}
#reset_game button:hover{
    transition: 0.4s;
    background-color: rgb(0, 255, 13);
}
#reset_game button:active{
    transform: scale(0.9);
}

#reset_game progress[value]{
    appearance: none;
    background-color: rgb(22, 22, 22);
    border-style: none;
}

#reset_game progress[value]::-moz-progress-bar{
    background-color: rgb(255, 227, 71);
    box-shadow: 0px 0px 12px 2px rgb(255, 227, 71);
    transition: 0.5s;
}
#reset_game progress[value]::-moz-progress-bar:hover{
    background-color: rgb(71, 255, 102);
    box-shadow: 0px 0px 12px 2px rgb(71, 255, 80);
}