
header {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: calc(100% + 16px);
    margin: -8px !important;
    background : rgb(17, 17, 17);
    
}

header .player_profile {
    position: relative;
    width: 100%;
    /* border: 1px solid red; */
    color : white;
    font-family: monospace;
    font-size: 4vh;
    display: inline-block;
}

header .player_profile .player_pic_profile{
    position: relative;
    width: 40%;
    display: inline-block;
    left: 50%;
    top: 1vh;
    border-radius: 100px;
    transform: translate(-50%);
}

header .player_name{
    position: relative;
    text-align: center;
    cursor: default;
}

header .turn{
    position: relative;
    width : 6vh;
    left: 50%;
    transform: translate(-50%);
}

#matchs_result p {
    position: relative;
    color : white;
    font-size: 6vh;
    font-family: monospace;
    text-align: center;
    cursor: default;
    /* top: 30%; */
    transform: translate(0%,-50%);
}

#matchs_result .rslt{
    color :rgb(67, 255, 230);
    display: inline-block;
    text-align: center;
    bottom: 8vh;
    left: 45%;
    transform: translate(-50%,-0%) !important;
}

#matchs_result #match_result{
    color : rgb(247, 72, 101);
    font-size: 3vh;
}

#GAME_TABLE{
    position: relative;
    border: 2px dashed rgb(0, 0, 0);
    width: 40vh;
    height: 40vh;
    display: grid;
    padding : 4px;
    grid-template-columns: 1fr 1fr 1fr;
    top: 10vh;
    left: 50%;
    transform: translate(-50%);
}

#GAME_TABLE .BLOCK_STYLE{
    position: relative;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.2s;
    color : white;
    font-size: 1.5rem;
    background-size: cover;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
}
#GAME_TABLE .BLOCK_STYLE:active{
    transform: scale(0.9);
}
#GAME_TABLE .BLOCK_STYLE:nth-child(even){
    background-color: rgb(73, 71, 94);
}
#GAME_TABLE .BLOCK_STYLE:nth-child(odd){
    background-color: rgb(75, 92, 128);
}

#reset_game{
    position: fixed;
    left: 0px;
    top: 50%;
    padding: 4vh;
    background-color: rgba(32, 21, 44, 0.87);
    font-family: monospace;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.664);
    border-radius: 0px 12px 12px 0px;
    display: none;
}

#reset_game p{
    font-size: 3vh;
    color: rgb(255, 219, 14);
}

#reset_game button{
    border-style: none;
    background-color: rgb(255, 230, 0);
    color: rgb(26, 25, 25);
    padding : 1vh;
    transition: 0.4s;
    cursor: pointer;
}
#reset_game button:hover{
    transition: 0.4s;
    background-color: rgb(0, 255, 13);
}
#reset_game button:active{
    transform: scale(0.9);
}

#reset_game progress[value]{
    appearance: none;
    background-color: rgb(22, 22, 22);
    border-style: none;
}

#reset_game progress[value]::-moz-progress-bar{
    background-color: rgb(255, 227, 71);
    box-shadow: 0px 0px 12px 2px rgb(255, 227, 71);
    transition: 0.5s;
}
#reset_game progress[value]::-moz-progress-bar:hover{
    background-color: rgb(71, 255, 102);
    box-shadow: 0px 0px 12px 2px rgb(71, 255, 80);
}